* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
  font-family: sans-serif;
}

.active {
  color:aqua;
  border-bottom: 1px;
}

.custom-loader {
  width:50px;
  height:50px;
  color:#766DF4;
  --c:radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--c) 50% 0   /12px 12px,
    var(--c) 50% 100%/12px 12px,
    var(--c) 100% 50%/12px 12px,
    var(--c) 0    50%/12px 12px,
    var(--c) 50%  50%/12px 12px,
    linear-gradient(currentColor 0 0) 50% 50%/4px 100%,
    linear-gradient(currentColor 0 0) 50% 50%/100% 4px;
  background-repeat:no-repeat;
  animation:s8 1s infinite linear;
}
@keyframes s8 {to{transform: rotate(.5turn)}}